<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.chatliteserver.mapper.AiModelConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yu.chatliteserver.entity.AiModelConfig">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="price" property="price" />
        <result column="user_id" property="userId" />
        <result column="description" property="description" />
        <result column="model_id" property="modelId" />
        <result column="useCount" property="useCount" />
        <result column="pLength" property="pLength" />
        <result column="temperature" property="temperature" />
        <result column="max_tokens" property="maxTokens" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, price, user_id, description, model_id, useCount, pLength, temperature, max_tokens, create_time
    </sql>

</mapper>
